<div class="banner-1" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1450005601738-ad61825d7281?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);">

<%= simple_form_for :search, url: planes_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="query" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>


  <div class="container flex">
    <% @planes.each do |plane| %>
    <br>
    <br>
      <% next unless plane.photos.attached? %>
      <div class="card-product">
        <% if plane.photos.attached? %>
          <%# plane.photos.each do |photo| %>
            <%= cl_image_tag plane.photos.first.key, height: 300, width: 400, crop: :fill %>
          <%# end %>

        <div class="card-product-infos">
          <h2><%=plane.name%></h2>
          <p>Price: £<%=plane.price%></p>
          <p>Capacity: <%=plane.capacity%> passengers</p>
          <div class="btn-index-align">
            <%= link_to "Check Details", plane_path(plane), class: "btn-flat" %>
            <%= link_to "Book Plane", new_plane_booking_path(plane), class: "btn-flat"  %>
          </div>
        </div>

          <%= link_to "View details", plane_path(plane), class: "btn-flat" %>
        <% else %>
        <%= image_tag "learjet_60.jpg", height: 300, width: 400, crop: :fill %>
        <div class="card-product-infos">
          <h2><%=plane.name%></h2>
          <p>Price: £<%=plane.price%></p>
          <p>Capacity: <%=plane.capacity%> passengers</p>
        </div>
          <%= link_to "View details", plane_path(plane), class: "btn-flat" %>
          <% end %>
      </div>
    <%end%>
  </div>
</div>
