


<div class="newplane-container">
 <div class ="plane-input">
  <div class="div">
    <h1>Add a new Plane</h1>
</div>

<div class="div">
    <<%= simple_form_for @plane do |f| %>
     <%= f.input :name %>
     <%= f.input :capacity %>
     <%= f.input :price %>
     <%= f.submit "Create jet", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>

