
<p></p>
<div class="container">
   <h1>Add a new Plane</h1>
    <%= simple_form_for @plane do |f| %>
     <%= f.input :name %>
     <%= f.input :capacity %>
     <%= f.input :price %>
     <%= link_to "Create Jet", planes_path , class: "btn btn-primary"  %>
    <% end %>

</div>
