 <body
  class="body" style="background-image: url(https://images.unsplash.com/photo-1450005601738-ad61825d7281?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);">

  <div class="newplane-container">
   <div class ="plane-input">

  <div class="title-list-jet">

    <h1>List Your Jet</h1>
  </div>

<div class="form-new-jet">
    <p><%= simple_form_for @plane do |f| %>
     <%= f.input :name %>
     <%= f.input :capacity %>
     <%= f.input :price %>
     <%= f.input :photo, as: :file %>
     <%= f.submit "List Your Jet", class: "btn btn-primary btn-create" %>
    <% end %>

    </div>
   </div>
 </body>

